<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99ad8e">  <td>21/06/24 09:01:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataTest.dataRead(java.lang.String, java.lang.String)[pri:0, instance:sample.sampleselenium.DataTest@2d6a9952]">dataRead</td> 
  <td>main@796684896</td>   <td></td> </tr>
<tr bgcolor="99ad8e">  <td>21/06/24 09:01:21</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataTest.dataRead(java.lang.String, java.lang.String)[pri:0, instance:sample.sampleselenium.DataTest@2d6a9952]">dataRead</td> 
  <td>main@796684896</td>   <td></td> </tr>
<tr bgcolor="99ad8e">  <td>21/06/24 09:01:21</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataTest.dataRead(java.lang.String, java.lang.String)[pri:0, instance:sample.sampleselenium.DataTest@2d6a9952]">dataRead</td> 
  <td>main@796684896</td>   <td></td> </tr>
</table>
