<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>TestCase1.m3()[pri:0, instance:sample.sampleselenium.TestCase1@1c53fd30]<br/></td></tr>
<tr><td>sanity</td><td>DataTest.m1()[pri:0, instance:sample.sampleselenium.DataTest@629f0666]<br/>TestCase1.m3()[pri:0, instance:sample.sampleselenium.TestCase1@1c53fd30]<br/></td></tr>
</table>
