<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>sampleselenium by groups</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7e7682">  <td>21/06/24 08:48:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataTest.m1()[pri:0, instance:sample.sampleselenium.DataTest@629f0666]">m1</td> 
  <td>main@1809787067</td>   <td></td> </tr>
<tr bgcolor="ac6bc4">  <td>21/06/24 08:48:17</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase1.m3()[pri:0, instance:sample.sampleselenium.TestCase1@1c53fd30]">m3</td> 
  <td>main@1809787067</td>   <td></td> </tr>
</table>
